/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* PAGE LAYOUT */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #de4c7afe;
}

/* CONTAINER */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* CARD (MATCHES SIGNUP FORM) */
.form-box {
    width: 450px;
    background: #f3e5e5;
    padding: 35px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

/* TITLE */
h2 {
    text-align: left;
    color: #de4c7afe;
    margin-bottom: 5px;
}

/* SUBTITLE */
.subtitle {
    color: #777;
    font-size: 13px;
    margin-bottom: 25px;
}

/* SECTION */
.section {
    margin-bottom: 20px;
}

/* LABEL */
label {
    color: #444;
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
}

/* INPUTS */
select, input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

/* INPUT FOCUS */
input:focus, select:focus {
    border-color: #de4c7afe;
    box-shadow: 0 0 4px rgba(229, 57, 53, 0.3);
}

/* BUTTON */
button {
    width: 100%;
    padding: 13px;
    background: #de4c7afe;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #de4c7afe;
}

/* OTHER INPUT */
#requiredOther, #offeredOther {
    display: none;
}