/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* LAYOUT */
.main-container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.left-section {
    width: 50%;
    padding: 60px;
    background-color: #ffffff;
}

.logo {
    color: #e53935;
    font-size: 32px;
    margin-bottom: 5px;
}

.tagline {
    color: #777;
    margin-bottom: 30px;
}

/* FORM */
label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    color: #444;
    font-size: 14px;
}

select, input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #fafafa;
}

/* FOCUS */
select:focus, input:focus {
    border-color: #e53935;
    background-color: #fff;
    outline: none;
}

/* BUTTON */
button {
    width: 100%;
    padding: 13px;
    margin-top: 15px;
    background-color: #e53935;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}

/* RIGHT SIDE */
.right-section {
    width: 50%;
    background-color: #f5dede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* IMAGE BOX */
.image-box {
    background-color: #f26886;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.image-box img {
    width: 260px;
}

/* TEXT */
.right-section h2 {
    font-size: 22px;
    font-weight: bold;
}

/* HIDE OTHER */
#requiredOther, #offeredOther {
    display: none;
}